.travel-tips-container {
    width: calc(100% - 220px);
    padding: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 220px;
}

.travel-tips-main-title,
.travel-tips-title,
.travel-tips-main-paragraph {
    text-align: center;
    margin: auto;
}

.travel-tips-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column ;
    align-content: center;
    margin-bottom: 80px;
}

.travel-tips-card-container {
    width: 100%;
    max-width: 500px;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.travel-tips-card-content {
    width: 100%;
    position: relative;
}

.travel-tips-card-content img {
    width: 100%;
    height: 300px;
}

.travel-tips-card-title {
    margin-top: 30px;
    text-align: center;
}

.travel-tips-card-text {
    margin: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.travel-tips-card-text ul {
    list-style-type: none;
    padding: 0;
}

.travel-tips-card-text li {
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .travel-tips-container {
        width: 100%;
        margin-right: 0;
    }

    .travel-tips-card-container {
        max-width: 100%;
    }
}
